In [ ]:
#this allows us to read in the data and work with dataframes and work with arrays, 
import pandas as pd
import numpy as np
import seaborn as sns

#import our plotting libraries
%matplotlib inline
import matplotlib as mpl 
import matplotlib.pyplot as plt
import scipy.stats as stats
plt.style.use('ggplot')

#read in the entire house dataset,
house_df = pd.read_csv('house_prices_1/train.csv')

#outputs the no of rows and columns in the dataset,
print('=> The number of rows and columns in our dataset is (rows, columns):')
print(house_df.shape,'\n')

#outputs the columns header,
print('=> A sample of the column headers in the dataset are:')
print(house_df.iloc[:,2:8].columns.values)

#outputs the summary statistics and info,
print('\n=> These are the summary statistics for a sample of the columns:\n')
print(house_df.iloc[:,71:].describe())
print('\n=> These are the info for a sample of the columns:\n')
print(house_df.iloc[:,71:80].info())

In [ ]:
sample_df = house_df[['SalePrice', 'PoolArea','MoSold']]
plt.figure(figsize=(15, 3))

#function for plotting stripplots given a dataframe
def stripplot_these(df):
    for idx, name in enumerate(df.columns):
        n = idx + 1
        plt.subplot(1,3,n)
        sns.stripplot(x=name, data=df, jitter=0.15, orient= 'v', alpha=.4)
    plt.tight_layout()
    plt.show()

stripplot_these(sample_df)

In [ ]:
#plotting histogram of values with density values and outlier threshold 
mu = house_df.SalePrice.mean()
sd = house_df.SalePrice.std()
li = mu + 3 * sd
plt.figure(figsize=(10, 5))
plt.title('Density Histogram of Sale Price')
plt.hist(house_df.SalePrice, bins=75,density=True,color='orange')
plt.axvline(li, color='grey', linestyle='dashed', linewidth=2)
plt.show()

In [ ]:
#list of column names to keep
col_names = ['SalePrice','OverallQual', 'GrLivArea', 'GarageCars', 'GarageArea']

#creating new filtered dataframe
new_df =  house_df[col_names]

#print the new shape of the data,
print('The current number of rows and columns is:\n')
print(new_df.shape)
print('\nWe have reduce the number of variables from 81 to', new_df.shape[1],'\n')

#checking summary statistics and info of new dataframe
print(new_df.info())

In [ ]:
#filtering the dataframe to include just the IV's (features) and another with just the DV's (target)
features = new_df.loc[:,new_df.columns != 'SalePrice']
targets = new_df.loc[:,new_df.columns == 'SalePrice']

#creating pairwise correlation of columns using Pearson's R,
corr = features.corr(method='pearson') 

#plotting the correlation coefficients on a seasborn heatmap matrix
fig, ax = plt.subplots(figsize=(6,5))
sns.heatmap(corr, annot=True, xticklabels=corr.columns, 
            yticklabels=corr.columns, ax=ax, linewidths=.5, 
            vmin = -1, vmax=1, center=0)

plt.title('Correlation HeatMap')
plt.show()

In [ ]:
#importing our function for splitting the data and an additional cross validation function,
from sklearn.model_selection import train_test_split, cross_val_score

#splitting our dataset randomly with the test data containing 10% of the data,
X_train, X_test, y_train, y_test = train_test_split(features,targets, 
                                                    test_size=0.1, 
                                                    random_state=42)

#view number of training and testing data
print('Our training prediction variable contains :',len(y_train) ,'rows')
print('Our training independent variable contains :',len(X_train) ,'rows')
print('Our testing prediction variable contains :',len(y_test) ,'rows')
print('Our testing independent variable contains :',len(X_test) ,'rows')

In [ ]:
#Allows us access to Scikit-learn linear regression model,
import sklearn.metrics
from sklearn.linear_model import LinearRegression

#Instantiate the regression model and setting parameters if any,
reg_model = LinearRegression()

In [ ]:
#fitting the training data to the model,
reg_model.fit(X_train, y_train)

#outputs the coefficients
print('Intercept :', reg_model.intercept_[0], '\n')
print(pd.DataFrame({'features':X_train.columns,'coeficients':reg_model.coef_[0]}))

In [ ]:
#outputs the training and testing scores
print("Training set score: {:.2f}".format(reg_model.score(X_train, y_train)))

In [ ]:
from sklearn.model_selection import cross_val_score
import math

cv_reg_model = LinearRegression()
cv_scores = cross_val_score(cv_reg_model, features, targets,cv=10, scoring='r2')

#outputs the scores
print('Cross Validation scores: {}'.format(cv_scores))
print("\nAverage 10-Fold CV Score: {}".format(np.mean(cv_scores)))

In [ ]:
#prediction values using testing set
y_pred = reg_model.predict(X_test)

#printing sample of predictions
print('Sample predictions are:\n', y_pred[:5].flatten())

y_pred_a = pd.DataFrame(y_pred)
y_test_a = y_test.reset_index(drop=True, inplace=False)
pred_act_df = pd.concat([y_test_a,y_pred_a], axis=1).sort_values(1,axis=1).reset_index(drop=True)

#output samples of our predicted values
plt.figure(figsize=(6, 6))
maxlimit = pred_act_df['SalePrice'].max()
plt.xlim(-1, maxlimit)
plt.ylim(-1, maxlimit)
plt.scatter(pred_act_df[0], pred_act_df['SalePrice'], s=10)
plt.xlabel('Predicted Sale Price')
plt.ylabel('Actual Sale Price')
plt.plot([-1,maxlimit], [-1,maxlimit], ls="--", c=".3")
plt.title('Actual vs Predicted Sale Prices')
plt.show()

In [ ]:
#stats model library allows us to run OLS directly,
import statsmodels.api as sm 

#re-run OLS model as sm_model using training and testing dataset,
X_train_sm = sm.add_constant(X_train)
sm_train_model = sm.OLS(y_train, X_train_sm).fit()
print('Training set adj r2: {}'.format(sm_train_model.rsquared_adj))

#run CV again and loop through results applying adjusted r2 formula. Output the results
cv_scores_r2 = cross_val_score(cv_reg_model, features, targets,cv=10, scoring='r2')
cv_scores_adj = []
n = len(features)
k = len(features.columns)
for r in cv_scores_r2:
    adj_r2 = 1-(((1-r)*(n-1))/(n-k-1))
    cv_scores_adj.append(adj_r2)
print('Average 10-Fold CV adj r2: {}'.format(np.mean(cv_scores_adj)))

In [ ]:
#for calculating MSE
from sklearn.metrics import mean_squared_error

y_pred_test = reg_model.predict(X_test)
y_pred_train = reg_model.predict(X_train)

rmse_test = np.sqrt(mean_squared_error(y_test, y_pred_test))
rmse_train = np.sqrt(mean_squared_error(y_train, y_pred_train))

print("Root Mean Squared Error of Training Set: {}".format(rmse_train))
print("Root Mean Squared Error of Testing Set: {}".format(rmse_test))

In [ ]:
#lets us use the stats model ols model
import statsmodels.api as sm 

#training the OLS algorithm and outputting the summary statistics
X_train_sm = sm.add_constant(X_train)
sm_model = sm.OLS(y_train, X_train_sm).fit()
print(sm_model.summary())
print(sm_model.rsquared_adj)

In [ ]:
#calculate the residuals
y_pred = pd.DataFrame(y_pred)
y_test = y_test.reset_index(drop=True)
residuals = y_test.SalePrice - y_pred[0]

#plotting Residual and Probabililty graph
plt.figure(figsize=(18, 5))
plt.subplot(1,2,1)
plt.axhline(0, color="blue")
plt.title('Plot of Residuals')
plt.scatter(residuals.index,residuals, s=20)

plt.subplot(1,2,2)
plt.title('Probability Plot')
stats.probplot(residuals, dist='norm',plot=plt)
plt.show()

In [2]:
import pandas as pd
import glob, os, folium


path ="./indicadores_seccion_censal_csv/" # use a path
allFiles = glob.glob(path + "/*.csv") # if there are more than one file

frame = pd.DataFrame() # data frame form
list_ = [] 
for file_ in allFiles: 
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_)


frame.describe() # To describe the resume of dataframe

,ccaa,cpro,cmun,dist,secc,t1_1,t2_1,t2_2,t3_1,t3_2,...,t20_7,t20_8,t20_9,t21_1,t22_1,t22_2,t22_3,t22_4,t22_5,t22_6
count,35917.000000,35917.000000,35917.000000,35917.000000,35917.000000,35917.000000,35826.000000,35816.000000,35676.000000,35806.000000,...,16334.000000,14841.000000,14887.000000,35786.000000,31918.000000,33805.000000,30833.000000,29250.000000,26156.000000,26098.000000
mean,8.268146,25.538408,97.841273,3.272740,14.278392,1296.745274,642.189471,657.717082,209.894187,869.828939,...,38.395066,16.455764,13.995768,505.082295,126.271383,158.193758,120.437356,106.430769,26.762884,9.614338
std,4.639146,14.378958,120.117956,3.412732,25.680542,735.309526,376.022820,368.750039,175.548832,523.586709,...,37.585350,21.606118,21.608045,280.642805,85.974253,102.431828,71.944907,69.697412,27.941628,19.605248
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,5.000000,0.000000,0.000000,5.000000,...,0.000000,0.000000,0.000000,5.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,11.000000,28.000000,1.000000,1.000000,825.000000,395.000000,420.000000,85.000000,520.000000,...,10.000000,0.000000,0.000000,330.000000,70.000000,95.000000,70.000000,60.000000,10.000000,0.000000
50%,9.000000,28.000000,69.000000,2.000000,4.000000,1225.000000,595.000000,630.000000,170.000000,810.000000,...,30.000000,10.000000,10.000000,480.000000,110.000000,145.000000,110.000000,95.000000,20.000000,0.000000
75%,12.000000,37.000000,122.000000,4.000000,15.000000,1700.000000,840.000000,865.000000,290.000000,1160.000000,...,55.000000,25.000000,20.000000,655.000000,165.000000,205.000000,160.000000,145.000000,40.000000,10.000000
max,19.000000,52.000000,915.000000,21.000000,220.000000,13070.000000,6865.000000,6205.000000,2915.000000,7420.000000,...,570.000000,315.000000,420.000000,6720.000000,1980.000000,4090.000000,995.000000,970.000000,395.000000,415.000000

In [4]:
import pandas as pd
df = pd.DataFrame({"A":["foo", "foo", "foo", "bar"], "B":[0,1,1,1], "C":["A","A","B","A"]})
df.drop_duplicates(subset=['C', 'A'], keep=False)

     A  B  C
2  foo  1  B
3  bar  1  A